echo ".env" >> .gitignore
echo "venv/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "db.sqlite3" >> .gitignore
echo "staticfiles/" >> .gitignore
echo "media/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.pyo" >> .gitignore
echo "*.log" >> .gitignore
echo "coverage/" >> .gitignore
echo "token.txt" >> .gitignore
git add .gitignore
git commit -m "Ignorar token.txt"