# Variables de entorno
.env
token.txt

# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo

# Logs y reportes
*.log
coverage/

# Base de datos local
db.sqlite3

# Migraciones de Alembic
alembic/versions/

# Archivos estáticos y media (si los generas)
staticfiles/
media/.env
docker-compose.yml