# Variables de entorno
.env
token.txt

# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo

# Logs y reportes
*.log
coverage/

# Reportes de testing
testing/

# Base de datos local
db.sqlite3
*.db
db_explorer.db

# Exportaciones CSV
exports/

# Migraciones de Alembic
alembic/versions/

# Archivos estáticos y media (si los generas)
staticfiles/
media/
docker-compose.
request.http
